[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
