{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header">
    <h1>My Portfolio</h1>
    <a href="{% url 'building-create' %}" class="btn-primary">+ Add Building</a>
</div>

<div class="grid">
    {% for building in object_list %}
    <div class="card">
        <img src="{% static 'svg/building.svg/'%}" alt="Building Icon">
        <div class="card-body">
            <h3>{{ building.name }}</h3>
            <p>{{ building.address }}</p>
            <a href="{% url 'building-detail' building.id %}" class="btn-outline">View Floors</a>
            <a href="{% url 'building-update' building.id %}" class="btn-edit-text">Edit Building</a>
            <a href="{% url 'building-delete' building.id %}" class="btn-delete-icon">Delete Building</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

